<!DOCTYPE html>
<html>
<head>
	
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<title>${title}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- 1140px Grid styles for IE -->
	<!--[if lte IE 9]><link rel="stylesheet" href="http://localhost:8080/xwiki/bin/download/wiki/CssGrid/ie.css" type="text/css" media="screen" /><![endif]-->

	<!-- The 1140px Grid - http://cssgrid.net/ -->
	<link rel="stylesheet" href="http://localhost:8080/xwiki/bin/download/wiki/CssGrid/1140.css" type="text/css" media="screen">
	
	<!-- Your styles -->
	<link rel="stylesheet" href="http://localhost:8080/xwiki/bin/download/wiki/CssGrid/wrf.css" type="text/css" media="screen">
	
	<!--css3-mediaqueries-js - http://code.google.com/p/css3-mediaqueries-js/ - Enables media queries in some unsupported browsers-->
	<script type="text/javascript" src="http://localhost:8080/xwiki/bin/download/wiki/CssGrid/css3-mediaqueries.js"></script>
		
	<meta name="description" content="">
	
	<meta name="keywords" content="">

</head>

<body>

<div class="container">
	<div class="row">
		<div class="twelvecol">
			<h1>${title}</h1>
		</div>
	</div>
</div>


${content}

<div class="container">
	<div class="row">
	<div id="footer" class="twelvecol">
		<a title="@webreformatter" href="http://twitter.com/webreformatter">
		<img alt="Follow WebReformatter on Twitter" src="http://localhost:8080/xwiki/bin/download/wiki/CssGrid/twitter.png">
		</a>
		<a title="Subscribe to the news feed" href="http://friendster">
		<img alt="Subscribe to the news feed" src="http://localhost:8080/xwiki/bin/download/wiki/CssGrid/rss.png">
		</a>
	</div>
	</div>
</div>


</body>


</html>